version: "3.9"

services:
  backend:
    build: .
    container_name: laundry-backend
    ports:
      - "80:80"
    env_file:
      - .env
    depends_on:
      - redis
    volumes:
      - .:/app
    restart: always

  redis:
    image: redis:7
    container_name: laundry-redis
    ports:
      - "6379:6379"
    restart: always

